.root {
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  position: relative;
  height: 45px;
  width: fit-content;
  display: flex;
  align-items: center;
  border: 1px solid #cecbde;
  box-sizing: border-box;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  background: #fff;
  letter-spacing: -0.024em;
  color: #454257;
  width: 100%;
  @media (max-width: 1023px) {
    height: 100%;
  }
}
.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  b {
    padding-left: 50px;
    min-width: fit-content;
    font-weight: 700;
  }
  input {
    width: 100%;
    height: 100%;
    text-align: right;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    letter-spacing: -0.024em;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &:focus-visible {
      border: 0;
      outline: 0;
    }
  }
  @media (max-width: 1380px) {
    font-size: 16px;
    b {
      padding-left: 45px;
    }
    input {
      font-size: 16px;
    }
  }
  @media (max-width: 1023px) {
    flex-direction: row-reverse;
    font-size: 20px;
    b {
      padding-right: 20px;
      padding-left: 0;
      font-weight: 400;
      color: rgba(69, 66, 87, 0.6);
    }
    input {
      padding-left: 50px;
      font-weight: 700;
      font-size: 20px;
      text-align: left;
    }
  }
}

.icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(0, -50%);
  width: 24px;
}

.crypto-input {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 45px;
  padding-right: 8px;
  span {
    font-weight: 600 !important;
    letter-spacing: -0.024em;
    color: #454257;
    font-size: 20px !important;
    margin-bottom: 0;
  }
  input {
    text-align: right;
    width: 115px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    background: none;
    border: #fff;
    letter-spacing: -0.024em;
    color: #454257;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &:focus-visible {
      border: 0;
      outline: 0;
    }
  }
  b {
    position: relative;
    line-height: 1;
    padding-top: 1px;
    display: block;
    font-weight: 600;
  }
}
#crypto-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(0, -50%);
  width: 24px;
}
.control {
  box-sizing: border-box;
  height: 100%;
  width: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-left: 1px solid #cecbde;
  div {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:last-child {
      transform: rotate(180deg);
    }
  }
  @media (max-width: 1023px) {
    width: 170px;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    border-left: 1px solid #cecbde;
    div {
      height: 44px;
      width: 50%;
      border-left: 1px solid #cecbde;
    }
    div:last-child {
      border: 0;
    }
  }
  @media (max-width: 767px) {
    width: 140px;
  }
}
