.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &.notScrollable {
    height: 100vh;
    overflow: hidden;
    @media (max-width: 767px) {
      overflow: scroll;
    }
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
.root > div {
  flex: 1 0 auto;
}
.root > footer {
  flex: 0 0 auto;
}
