.wrapper {
  @media (max-width: 1023px) {
    // padding: 0;
    .token {
      padding: 0 30px;
    }
  }
  @media (max-width: 767px) {
    .token {
      padding: 0 16px;
    }
  }
}

.button {
  display: block;
  width: fit-content;
  padding: 18px 32px;
  text-transform: uppercase;
  transition: background-color 0.5s ease;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 10px;
  background: #7460ff;
  color: #fff;
  cursor: pointer;

  &:hover {
    background: rgba(116, 96, 255, 0.8);
  }

  @media (max-width: 767px) {
    padding: 15px 32px;
  }
}

.works {
  padding-top: 50px;
  padding-bottom: 100px;

  @media (max-width: 1024px) {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 72px;
  }

  @media (max-width: 767px) {
    padding: 28px 16px 72px;
  }
}

.auctionWrapper {
  background-color: #f5f5f6;
  padding: 50px 0;

  @media (max-width: 767px) {
    padding: 30px 0;
  }
}

.auctionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  @media (max-width: 767px) {
    margin-bottom: 24px;
    row-gap: 24px;
  }
}

.auctionTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: -0.5px;
  color: #454257;

  @media (max-width: 767px) {
    font-size: 24px;
  }
}

.goToAuction {
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #7460ff;

  &:hover {
    color: rgba(116, 96, 255, 0.8);
    transition: all 0.2s ease-in-out;

    svg {
      transform: translateX(5px);
    }
  }

  @media (max-width: 767px) {
    align-self: flex-end;
  }

  svg {
    display: block;
    transition: all 0.2s ease-in-out;
  }
}

.inner {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px;
  border-radius: 24px;
  background: #ffffff;

  @media (max-width: 1380px) {
    padding: 30px;
  }

  @media (max-width: 1023px) {
    padding: 0;
    background: none;
  }

  @media (max-width: 767px) {
    padding: 0;
  }
}
.accents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  div {
    width: 100%;
  }
}
.heading {
  // min-height: 90px;
  @media (max-width: 1023px) {
    display: none;
  }
}

.bidding {
  @media (max-width: 1023px) {
    display: none;
  }
}

.bidsHistory {
  background: #ffffff;
  margin-inline: -16px;
  @media (min-width: 768px) {
    margin-inline: -32px;
  }
  @media (min-width: 1024px) {
    margin-inline: 0;
    background: transparent;
  }
  @media (max-width: 1023px) {
    padding: 0 30px;
  }
  @media (max-width: 767px) {
    padding: 0 16px;
  }
}

.bidsHeader {
  margin-bottom: 10px;
  font-size: 1.25rem;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
  @media (min-width: 1024px) {
    font-size: 1.75;
    margin-top: 50px;
  }
}

.bidsTable {
  padding-inline: 1rem;
  @media (min-width: 768px) {
    padding-inline: 2rem;
  }
  @media (min-width: 1024px) {
    padding-inline: 0;
  }
  @media (max-width: 1023px) {
    padding-inline: 0;
    padding: 40px 0;
  }
}

.bidsList {
  overflow: visible;
}

.nextAuc {
  width: 100%;
  margin-top: 40px;
  min-height: 54px;
}
.nav {
  margin: 20px 0;
}
