.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 32px;
  text-transform: uppercase;
  transition: background-color 0.5s ease;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 10px;
  background: #7460ff;
  color: #fff;
  cursor: pointer;
  &:hover {
    background: rgba(116, 96, 255, 0.8);
  }
  &.disabled {
    background: #ceccde;
    cursor: default;
  }
  &.loading {
    padding: 17px 0;
    gap: 10px;
  }
  img {
    margin-top: -4px;
    margin-right: 10px;
  }
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.loader {
  margin-top: -2px;
  font-size: 2.6px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid #fff;
  border-bottom: 1.1em solid #fff;
  border-left: 1.1em solid #fff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: loader-animation 1.1s infinite linear;
  animation: loader-animation 1.1s infinite linear;
}
@-webkit-keyframes loader-animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader-animation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
